/* Index CSS
==================
** Template styles
*/
/* Variables */
/* line 3, ../scss/_variables.scss */
:root {
  --color-text: #2C2C2C;
  --color-text-link: #2680EB;
  --color-bg: #F5F5F5;
  --color-bg-secondary: #D3D3D3;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --hover-brightness: 1.2;
  --color-text-white: #FFFFFF;
  --color-text-grey: #F5F5F5;
  --color-text-black: #000000;
}

/* Colors */
/* line 23, ../scss/_variables.scss */
.text-white {
  color: #ffffff;
  color: var(--color-text-white);
}

/* line 27, ../scss/_variables.scss */
.text-black {
  color: #000000;
  color: var(--color-text-black);
}

/* line 31, ../scss/_variables.scss */
.text-grey {
  color: #f5f5f5;
  color: var(--color-text-grey);
}

/* line 36, ../scss/_variables.scss */
.bg-white {
  background: #ffffff;
  background: var(--color-text-white);
}

/* line 40, ../scss/_variables.scss */
.bg-black {
  background: #000000;
  background: var(--color-text-black);
}

/* line 44, ../scss/_variables.scss */
.bg-grey {
  background-color: #f5f5f5;
  background-color: var(--color-text-grey);
}

/* Base */
/* line 47, ../scss/_base.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 57, ../scss/_base.scss */
html {
  font-family: var(--font-family);
  font-size: 100%;
}

/* line 62, ../scss/_base.scss */
html, body {
  margin: 0;
  width: 100%;
}

/* line 67, ../scss/_base.scss */
body {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  color: #212121;
  color: var(--color-text);
  background: #ffffff;
  background: var(--color-bg);
  overflow-x: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s;
}

/* line 80, ../scss/_base.scss */
body.overflow-y {
  overflow-y: hidden;
}

/* line 84, ../scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  font-weight: 500;
  margin-top: 0;
  margin-bottom: .5rem;
}

/* line 91, ../scss/_base.scss */
p {
  font-family: var(--font-family);
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 97, ../scss/_base.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 104, ../scss/_base.scss */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* line 111, ../scss/_base.scss */
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

/* line 117, ../scss/_base.scss */
a {
  color: var(--color-text-link);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
/* line 123, ../scss/_base.scss */
a:hover {
  filter: brightness(var(--hover-brightness));
  text-decoration: underline;
}
/* line 128, ../scss/_base.scss */
a:focus {
  outline: 0;
}

/* line 134, ../scss/_base.scss */
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

/* line 138, ../scss/_base.scss */
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

/* line 142, ../scss/_base.scss */
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* line 146, ../scss/_base.scss */
a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 159, ../scss/_base.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 166, ../scss/_base.scss */
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* line 173, ../scss/_base.scss */
figure {
  margin: 0 0 1rem;
}

/* line 177, ../scss/_base.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 182, ../scss/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 186, ../scss/_base.scss */
blockquote {
  margin: 0 0 1rem;
  border-left: 3px solid var(--color-text-link);
  background: var(--color-bg-secondary);
}

/* line 192, ../scss/_base.scss */
hr {
  background-color: var(--color-bg-secondary);
  border: none;
  height: 1px;
  margin: 1rem 0;
}

/* line 199, ../scss/_base.scss */
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* line 203, ../scss/_base.scss */
dt {
  font-weight: 700;
}

/* line 207, ../scss/_base.scss */
small {
  font-size: 80%;
}

/* line 211, ../scss/_base.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 219, ../scss/_base.scss */
sub {
  bottom: -.25em;
}

/* line 223, ../scss/_base.scss */
sup {
  top: -.5em;
}

/* line 227, ../scss/_base.scss */
video, img, object, embed, iframe {
  max-width: 100%;
}

/* line 230, ../scss/_base.scss */
iframe {
  border: 0;
}

/* line 234, ../scss/_base.scss */
.container-fluid {
  padding: 0;
}

/*Utilities */
/* Sizing
===============================
	scss/utilities/_sizing.scss
*/
/* Sizing */
/* line 7, ../scss/utilities/_sizing.scss */
.w-50 {
  width: 50% !important;
}

/* line 10, ../scss/utilities/_sizing.scss */
.w-100 {
  width: 100% !important;
}

/* line 13, ../scss/utilities/_sizing.scss */
.h-50 {
  height: 50% !important;
}

/* line 16, ../scss/utilities/_sizing.scss */
.h-100 {
  height: 100% !important;
}

/* line 20, ../scss/utilities/_sizing.scss */
.max-width {
  max-width: 100% !important;
}

/* Helpers
================================
	scss/utilities/_helpers.scss
*/
/* Custom */
/* line 3, ../scss/_custom.scss */
.jumbotron {
  border-radius: 0;
}

/* Backgrounds */
/* line 8, ../scss/_custom.scss */
.section-light {
  color: #000000;
  background: whitesmoke;
}

/* line 13, ../scss/_custom.scss */
.section-dark {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
}

/* line 18, ../scss/_custom.scss */
.bg-image {
  width: 100%;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 32, 0.8);
}

/* line 25, ../scss/_custom.scss */
.bg-video {
  width: 100%;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(rgba(0, 0, 32, 0.7), rgba(0, 0, 32, 0.7));
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
