/* Theme Dark */
/* line 3, ../scss/theme-dark.scss */
:root {
  --color-text: #FFFFFF;
  --color-bg: #323232;
  --color-text-white: #FFFFFF;
  --color-text-grey: #F5F5F5;
  --color-text-black: #323232;
}

/* line 14, ../scss/theme-dark.scss */
.card {
  color: #323232;
}

/* line 18, ../scss/theme-dark.scss */
.form-control {
  border: 1px solid #323232;
  color: #FFFFFF;
  background-color: #1E1E1E;
}
/* line 23, ../scss/theme-dark.scss */
.form-control:hover {
  background-color: #1E1E1E;
  border: 1px solid #2680EB;
}

/* line 29, ../scss/theme-dark.scss */
.custom-select {
  border: 1px solid #323232;
  color: #FFFFFF;
  background-color: #1E1E1E;
}

/* line 35, ../scss/theme-dark.scss */
.custom-control-label::before {
  background-color: transparent;
  border: #adb5bd solid 1px;
}

/* Colors */
/* line 48, ../scss/theme-dark.scss */
.text-white {
  color: #ffffff;
  color: var(--color-text-white);
}

/* line 52, ../scss/theme-dark.scss */
.text-black {
  color: #323232;
  color: var(--color-text-black);
}

/* line 56, ../scss/theme-dark.scss */
.text-grey {
  color: #f5f5f5;
  color: var(--color-text-grey);
}

/* line 61, ../scss/theme-dark.scss */
.bg-white {
  background: #ffffff;
  background: var(--color-text-white);
}

/* line 65, ../scss/theme-dark.scss */
.bg-black {
  background: #323232;
  background: var(--color-text-black);
}

/* line 69, ../scss/theme-dark.scss */
.bg-grey {
  background-color: #f5f5f5;
  background-color: var(--color-text-grey);
}

/* line 74, ../scss/theme-dark.scss */
body {
  color: #FFFFFF;
  color: var(--color-text);
  background: #323232;
  background: var(--color-bg);
}
