/* Base */

// REM to PX calculator
$global-font-size: 100% !default;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem-calc($values, $base: null) {
  $rem-values: ();
  $count: length($values);
  @if $base == null {
	$base: $global-font-size;
  }
  @if unit($base) == '%' {
	$base: ($base / 100%) * 16px;
  }
  @if unit($base) == 'rem' {
	$base: strip-unit($base) * 16px;
  }
  @if $count == 1 {
	@return -to-rem($values, $base);
  }
  @for $i from 1 through $count {
	$rem-values: append($rem-values, -to-rem(nth($values, $i), $base));
  }
  @return $rem-values;
}

@function -to-rem($value, $base: null) {
  @if type-of($value) != 'number' {
	@return $value;
  }
  @if unit($value) == 'em' {
	$value: strip-unit($value) * 1rem;
  }
  @if unit($value) != 'rem' {
	$value: strip-unit($value) / strip-unit($base) * 1rem;
  }
  @if $value == 0rem {
	$value: 0;
  }
  @return $value;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    font-family: var(--font-family);
	font-size: 100%;
}

html, body {
	margin: 0;
	width: 100%;
}

body {
	font-size: rem-calc(16);
	font-weight: normal;
	line-height: 1.5;
	text-align: left;
	color: $body-text;
    color: var(--color-text);
	background: $body-background;
    background: var(--color-bg);
	overflow-x: hidden;
	-webkit-transition: opacity 0.2s ease-in-out 0.2s;
	transition: opacity 0.2s ease-in-out 0.2s;
}
body.overflow-y {
    overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family);
    font-weight: 500;
	margin-top: 0;
	margin-bottom: .5rem;
}

p {
	font-family: var(--font-family);
	margin-top: 0;
	margin-bottom: rem-calc(16);
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit;
}

a {
	color: var(--color-text-link);
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		filter: brightness(var(--hover-brightness));
		text-decoration: underline;
	}
	
	&:focus {
		outline: 0;
	}
}


a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
	color: inherit;
	text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
	outline: 0;
}

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
	-ms-touch-action: manipulation;
		touch-action: manipulation;
}

pre,
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: scrollbar;
}

figure {
	margin: 0 0 1rem;
}

img {
	vertical-align: middle;
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

blockquote {
	margin: 0 0 1rem;
	border-left: 3px solid var(--color-text-link);
	background: var(--color-bg-secondary);
}

hr {
    background-color: var(--color-bg-secondary);
    border: none;
    height: 1px;
    margin: 1rem 0;
}

dd {
	margin-bottom: .5rem;
	margin-left: 0;
}
dt {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

video, img, object, embed, iframe {
	max-width: 100%;
}
iframe {
	border: 0;
}

.container-fluid {
	padding: 0;
}