/* Custom */

.jumbotron {
	border-radius: 0;
}

/* Backgrounds */
.section-light {
	color: #000000;
	background: rgba(245, 245, 245, 1);				
}

.section-dark {
	color: #ffffff;
	background: rgba(0, 0, 0, 0.5);				
}

.bg-image {
	width: 100%;
	//height: 100vh;
	text-align: center;	
	color: #ffffff;
	background: rgba(0, 0, 32, 0.8);				
}
.bg-video {
	width: 100%;
	//height: 100vh;
	text-align: center;	
	color: #ffffff;
	background: linear-gradient(rgba(0, 0, 32, 0.7), rgba(0, 0, 32, 0.7));				
	background-size: cover;
	background-position: top center;	 
	background-repeat: no-repeat;	
}