/* Variables */

:root {
    --color-text: #2C2C2C;
    --color-text-link: #2680EB;
    --color-bg: #F5F5F5;
    --color-bg-secondary: #D3D3D3;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --hover-brightness: 1.2;
	
    --color-text-white: #FFFFFF;
    --color-text-grey: #F5F5F5;
    --color-text-black: #000000;
}

$body-text: #212121;
$body-background: #ffffff;
$color-white: #ffffff;
$color-grey: #f5f5f5;
$color-black: #000000;

/* Colors */
.text-white {
	color: $color-white;
	color: var(--color-text-white);
}
.text-black {
	color: $color-black;
	color: var(--color-text-black);
}
.text-grey {
	color: $color-grey;
	color: var(--color-text-grey);
}

.bg-white {
	background: $color-white;
	background: var(--color-text-white);
}
.bg-black {
	background: $color-black;
	background: var(--color-text-black);
}
.bg-grey {
	background-color: $color-grey;
	background-color: var(--color-text-grey);
}
