/* Theme Dark */

:root {
    --color-text: #FFFFFF;
    //--color-text-link: #eeeeee;
    --color-bg: #323232;
    //--color-bg-secondary: green;
	
    --color-text-white: #FFFFFF;
    --color-text-grey: #F5F5F5;
    --color-text-black: #323232;
}

.card {
	color: #323232;
}

.form-control,  {
	border: 1px solid #323232;
	color: #FFFFFF;
	background-color: #1E1E1E;
	
	&:hover {
		background-color: #1E1E1E;
		border: 1px solid #2680EB;	
	}
}

.custom-select {
	border: 1px solid #323232;
	color: #FFFFFF;
	background-color: #1E1E1E;
}

.custom-control-label::before {
	background-color: transparent;
	border: #adb5bd solid 1px;
}


$body-text: #FFFFFF;
$body-background: #323232;
$color-white: #ffffff;
$color-grey: #f5f5f5;
$color-black: #323232;

/* Colors */
.text-white {
	color: $color-white;
	color: var(--color-text-white);
}
.text-black {
	color: $color-black;
	color: var(--color-text-black);
}
.text-grey {
	color: $color-grey;
	color: var(--color-text-grey);
}

.bg-white {
	background: $color-white;
	background: var(--color-text-white);
}
.bg-black {
	background: $color-black;
	background: var(--color-text-black);
}
.bg-grey {
	background-color: $color-grey;
	background-color: var(--color-text-grey);
}

body {
	color: $body-text;
    color: var(--color-text);
	background: $body-background;
    background: var(--color-bg);
}