/* Sizing
===============================
	scss/utilities/_sizing.scss
*/

/* Sizing */
.w-50 {
	width: 50% !important;
}
.w-100 {
	width: 100% !important;
}
.h-50 {
	height: 50% !important;
}
.h-100 {
	height: 100% !important;
}

.max-width {
	max-width: 100% !important;
}